<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Module 1 assignment</title>
</head>
<body ng-app="LunchCheck">
    <h1>Module 1 assignment solution</h1>

    <div ng-controller="LunchCheckController">
        <h3>What do you usually have for lunch</h3>
        <p>Does NOT consider empty items.</p>
        <input type="text" placeholder="comma separated list of items" ng-model="input">
        <button ng-click="showMsg()">Check If Too Much!</button> <br />
        <p>{{message}}</p>
    </div>
</body>
</html>