<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Module 1 assignment</title>

    <style>
        * {
            text-align: center;
        }
        input, button {
            width: 50vw;
            min-width: 300px;
            border: solid 2px;
            padding: 8px;
            font-size: 1em;
            border-radius: 5px;
            margin: 5px;
        }

        button {
            background-color: #232323;
            color: white;
        }
    </style>
</head>
<body ng-app="LunchCheck">
    <h1>Module 1 assignment solution</h1>

    <div ng-controller="LunchCheckController">
        <h3>What do you usually have for lunch</h3>
        <p>Does NOT consider empty items.</p>
        <input type="text" placeholder="comma separated list of items" 
            ng-model="input"
            style="border-color: {{color}};">
        <button ng-click="showMsg()">Check If Too Much!</button> <br />
        <p style="color: {{color}};">{{message}}</p>
    </div>
</body>
</html>